# add persistent volume claim for mssql from local disk storage class and mount to /var/opt/mssql/data in the mssql container
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mssql-claim
spec:
  accessModes: 
    - ReadWriteMany
  resources:
    requests:
      storage: 200Mi